.signup-nft-container {
  width: 70vw;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.2 linear;
}
.signup-nft-child {
  height: 606px;
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-nft-child:first-child {
  position: relative;
}
.signup-nft-child:last-child {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.signup-nft-image1-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.signup-nft-image2-wrapper {
  position: absolute;
  left: 55%;
}
.signup-nft-image3-wrapper {
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.signup-nft-image1 {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
}
.signup-nft-image2 {
  position: relative;
  width: 100%;
  height: 100%;
  right: 10%;
  top: 20%;
}
.signup-nft-image3 {
  position: relative;
  width: 100%;
  height: 100%;
  top: 58%;
  left: 17%;
}
.signup-nft-avatar1 {
  position: absolute;
  left: 82%;
  top: 82%;
}
.signup-nft-avatar2 {
  position: absolute;
  right: 0;
  top: 80%;
}
.signup-nft-avatar3 {
  position: absolute;
  left: 90%;
  bottom: -10%;
}
.signup-nft-right-section-header-wrapper {
  width: 100%;
  display: flex;
}

.signup-nft-right-section-header {
  color: #000;
  font-size: 32px;
  font-weight: 700;
}
.signup-nft-right-section-subheader {
  color: #636363;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  line-height: 160%;
  width: 100%;
}
.signup-nft-right-section-btn-wrapper {
  width: 100%;
  display: flex;
}
.signup-nft-right-section-btn {
  padding: 20px 40px;
  border-radius: 50px;
  background: #3d00b7;
  color: #fff;
  font-size: 20px;
  font-family: "Averta Demo PE Cutted Demo", sans-serif;
  letter-spacing: 1.3px;
}
.signup-nft-right-section-btn:hover {
  cursor: pointer;
  background: #5605f7;
}

@media only screen and (max-width: 600px) {
  .signup-nft-container {
    width: 90vw;
  }
  .signup-nft-right-section-header-wrapper {
    justify-content: center;
  }
  .signup-nft-right-section-header {
    font-size: 20px;
  }
  .signup-nft-right-section-subheader {
    font-size: 15px;
    text-align: center;
  }
  .signup-nft-right-section-btn-wrapper {
    justify-content: center;
  }
  .signup-nft-right-section-btn {
    font-size: 15px;
    padding: 15px 35px;
  }
}
