.hero-container {
  width: 70vw;
  height: auto;
  margin: 122px auto 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all 0.2 linear;
}
.hero-child {
  height: 440px;
  flex: 1 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-child:first-child {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.hero-child:last-child {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
}
.hero-heading {
  color: #000;
  font-size: 40px;
  font-family: "Integral CF", sans-serif;
  letter-spacing: 2px;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-shrink: 0;
  font-weight: 900;
}

.hero-subheading {
  color: #565656;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  line-height: 160%;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-shrink: 0;
}

.hero-btn-text {
  border-radius: 60px;
  background: #3d00b7;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  font-family: "Averta Demo PE Cutted Demo", sans-serif;
  letter-spacing: 1.3px;
  font-weight: 600;
}
.hero-left-section-bottom {
  display: flex;
  width: 100%;
  margin-top: 25px;
  height: 75px;
}
.hero-left-section-bottom-container:nth-child(1) {
  margin-left: 0px;
}
.hero-left-section-bottom-container {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 23px;
  position: relative;
}
.hero-left-section-bottom-header {
  color: #000;
  font-size: 40px;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
.hero-left-section-bottom-subheader {
  color: #565656;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  line-height: 160%;
  position: absolute;
  top: 43px;
  left: 1px;
}

.dot {
  position: absolute;
  bottom: 0;
  left: -3rem;
  z-index: -2;
}
.hero-image-container {
  position: absolute;
  top: 0;
  left: 10%;
  background-color: #fff;
  height: 100%;
}
.hero-image-1-container {
  position: relative;
  height: 100%;
}

.hero-image-1-logo {
  position: absolute;
  left: -60px;
  top: 45%;
  z-index: 4;
  bottom: 120px;
}

.hero-image-1-subheader {
  position: absolute;
  color: #fff;
  top: 65px;
  left: 70px;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  z-index: 4;
}
.hero-image-1-avatar {
  position: absolute;
  top: 80px;
  left: 25px;
  z-index: 4;
}
.hero-image-1-bottom {
  position: absolute;
  bottom: 24px;
  left: 25px;
  right: 0;
  width: 348px;
  height: 73.846px;
  border-radius: 12px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.2);
  z-index: 4;
}
.hero-image-1-bottom-text1 {
  position: absolute;
  color: #fff;
  top: 5px;
  left: 25px;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.hero-image-1-bottom-text2 {
  position: absolute;
  top: 5px;
  right: 82px;
  color: #fff;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.hero-image-1-bottom-text3 {
  position: absolute;
  right: 22px;
  top: 20px;
  color: #fff;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.hero-image-1-bottom-text4 {
  position: absolute;
  top: 22px;
  left: 50px;
  color: #fff;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.hero-image-1-avatar2 {
  position: absolute;
  top: 37px;
  left: 25px;
  z-index: 4;
}
.hero-image-1 {
  position: absolute;
  z-index: 2;
  border-radius: 24px;
  width: 400px;
  height: 440px;
  top: 0;
  left: 0;
}
.hero-image-1-header {
  position: absolute;
  width: 237px;
  top: 10px;
  left: 26px;
  color: #fff;
  font-size: 28px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -1.4px;
  z-index: 4;
}
.hero-image-2 {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 70px;
  width: 356px;
  height: 391.6px;
  border-radius: 21.36px;
}
.hero-image-3 {
  position: absolute;
  width: 310px;
  height: 341px;
  z-index: 0;
  left: 140px;
  top: 40px;
  border-radius: 18.6px;
}

.hero-btn-text:hover {
  background: #5605f7;
  cursor: pointer;
}
@media only screen and (max-width: 1090px) {
  .hero-container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  .hero-image-container {
    left: 0;
    top: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .hero-container {
    width: 90vw;
  }
}
@media only screen and (min-width: 1725px) {
  .hero-subheading {
    width: 471px;
  }
}
