.amazenft-container {
  width: 75vw;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all 0.2 linear;
  background: rgba(217, 224, 236, 0.2);
  margin-top: 122px;
}
.amazenft-child {
  height: 326px;
  flex: 1 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amazenft-child:nth-child(2) {
  position: relative;
}
.amazenft-child:last-child {
  position: relative;
}

.amaze-nft-group1-text {
  width: fit-content;
  color: #000;
  font-size: 28px;
  font-weight: 700;
}
.amaze-nft-group2-header {
  position: absolute;
  top: 2%;
  left: 3rem;
  color: #000;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.amaze-nft-group2-subheader {
  position: absolute;
  top: 30%;
  left: 14%;
  color: #696969;
  font-size: 14px;
  width: 249px;
  font-family: "DM Sans", sans-serif;
  line-height: 160%;
  font-weight: 500;
}
.amaze-nft-icon {
  position: absolute;
  top: 15%;
  left: 0;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.amaze-nft-group2-text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 150px;
}
