.amazenft-container {
  width: 75vw;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all 0.2 linear;
  background: rgba(217, 224, 236, 0.2);
  margin-top: 122px;
}
.amazenft-child {
  height: 326px;
  flex: 1 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1750px) {
  .amazenft-child:nth-child(2) {
    margin-left: 5%;
  }
}
.amaze-nft-group1-text {
  width: fit-content;
  color: #000;
  font-size: 28px;
  font-weight: 700;
}
.amaze-nft-group2-header {
  position: absolute;
  top: 2%;
  left: 4rem;
  color: #000;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.amaze-nft-group2-subheader {
  position: absolute;
  top: 30%;
  left: 14%;
  color: #696969;
  font-size: 14px;
  width: 249px;
  font-family: "DM Sans", sans-serif;
  line-height: 160%;
  font-weight: 500;
}
.amaze-nft-icon {
  position: absolute;
  top: 15%;
  left: 1rem;
  width: 36px;
  height: 36px;
}
.amaze-nft-group2-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 150px;
}
@media only screen and (max-width: 600px) {
  .amazenft-container {
    width: 90vw;
  }
  .amaze-nft-group1-text {
    font-size: 20px;
    text-align: center;
  }
  .amaze-nft-group2-header {
    font-size: 15px;
  }
  .amaze-nft-group2-subheader {
    font-size: 12px;
  }
  .amaze-nft-icon {
    top: 10%;
    width: 26px;
    height: 26px;
    left:8%
  }
  .amazenft-child {
    height: 180px;
  }
  .amaze-nft-group2-subheader {
    left: 20%;
  }
}
