.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 65vw;
  margin: auto;
  padding-bottom: 40px;
}
.footer-right-section {
  flex-shrink: 0;
}
.footer-marketplace-section {
  flex-shrink: 0;
}
.footer-account-section {
  flex-shrink: 0;
}
.footer-subscribe-section {
  flex-shrink: 0;
}
.footer-right-section-header {
  top: -1rem;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
.footer-right-section-subheader {
  top: 25%;
  display: flex;
  width: 333px;
  flex-direction: column;
  flex-shrink: 0;
  color: #565656;
  font-size: 14px;
  font-family: "Averta Demo PE Cutted Demo";
  line-height: 160%;
}

.footer-right-section-icon1 {
  width: 36px;
  height: 36px;
}

.footer-right-section-icon1:hover {
  cursor: pointer;
}
.footer-right-section-icon2 {
  width: 36px;
  height: 36px;
  margin-left: 16px;
}
.footer-right-section-icon2:hover {
  cursor: pointer;
}
.footer-right-section-icon3 {
  width: 36px;
  height: 36px;
  margin-left: 16px;
}
.footer-right-section-icon3:hover {
  cursor: pointer;
}
.footer-marketplace-title {
  color: #000;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.footer-marketplace-items {
  left: 0;
  color: #3d3d3d;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 200%;
  display: flex;
  flex-direction: column;
}
.footer-marketplace-listitems {
  text-decoration: none;
  color: #3d3d3d;
}
.footer-marketplace-listitems:hover {
  cursor: pointer;
  color: #3d00b7;
}

.footer-account-title {
  color: #000;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.footer-account-items {
  color: #3d3d3d;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 200%;
}
.footer-account-listitems {
  text-decoration: none;
  color: #3d3d3d;
}
.footer-account-listitems:hover {
  cursor: pointer;
  color: #3d00b7;
}
.footer-subscribe-header {
  color: #000;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.footer-subscribe-subheader {
  display: flex;
  width: 362px;
  flex-direction: column;
  flex-shrink: 0;
  color: #363639;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  line-height: 160%;
}
.footer-subscribe-wrapper {
  position: relative;
  width: 100%;
  height: 60.793px;
  margin-top: 31px;
}
.footer-subscribe-input {
  width: 100%;
  height: 60.793px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 2px solid #efefef;
  background: #fff;
}
input.footer-subscribe-input {
  text-indent: 25px;
  font-family: "DM Sans", sans-serif;
}

.footer-subscribe-btn {
  position: absolute;
  top: 10px;
  right: 1%;
  border-radius: 45.595px;
  background: #2639ed;
  display: inline-flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 7.599px;
  color: #fff;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.79px;
}
.footer-subscribe-btn:hover {
  cursor: pointer;
  background: #061de6;
}
@media only screen and (max-width: 600px) {
  .footer-subscribe-section {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 20px;
  }
  .footer-container {
    width: 90vw;
    height: 800px;
    display: flex;
  }
}
