.featured-nft-container {
  width: 75vw;
  background: rgba(217, 224, 236, 0.2);
  margin: 122px auto;
  height: auto;
  padding-bottom: 4rem;
}

.featured-nft-title {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  z-index: 1;
  display: flex;
  align-items: center;
  margin: auto;
  height: 150px;
  width: 92%;
}

@media only screen and (max-width: 600px) {
  .featured-nft-title {
    justify-content: center;
  }
}
.featured-nft-frame-wrapper {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 92%;
}
.featured-nft-frame-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.featured-nft-frame-child-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 13px;
}
.item1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  border-radius: 11.001px;
}
.item2 {
  border-radius: 11.001px;
}
.item3 {
  border-radius: 11.001px;
}
.item4 {
  border-radius: 11.001px;
}
.item5 {
  grid-column: 1 / span 4;
  position: relative;
  height: 85px;
  width: 100%;
}

.featured-nft-bottom-header {
  position: absolute;
  top: 0;
  color: #000;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.featured-nft-avatar {
  position: absolute;
  bottom: 8px;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.featured-nft-bottom-name {
  position: absolute;
  left: 38px;
  bottom: 0;
  color: #000;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.featured-nft-bottom-count {
  position: absolute;
  right: 0;
  top: 40px;
  padding: 6px 15px;
  border-radius: 60px;
  border: 1px solid #2639ed;
  color: #2639ed;
  font-size: 11.001px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .featured-nft-container {
    width: 90vw;
  }
  .featured-nft-title {
    font-size: 20px;
    justify-content: center;
  }
  .featured-nft-frame-wrapper {
    flex-direction: column;
    gap: 30px;
  }
}
@media only screen and (max-width: 1780px) {
  .featured-nft-container {
    width: 90vw;
  }
}
